{% extends "base.html" %}
{% block main %}    
<h1>Сайты</h1>

    
<div class="table-responsive">
  <table class="table table-bordered table-hover text-nowrap" data-test="urls">
    <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Последняя проверка</th>
      <th>Код ответа</th>
    </tr>
    </thead>
    <tbody>
      {% if urls %}
        {% for url in urls[-1::-1] %}
          <tr>
            <td>{{ url.id }}</td>
            <td><a href="{{ url_for('show_url', url_id=url.id) }}">{{ url.name }}</a></td>
            <td>{% if url.created_at %} {{ url.created_at.date() }} {% endif %}</td>
            <td>{{ url.status_code }}</td>
          </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td colspan="4" class="text-center" >Список пуст</td>
        </tr>
      {% endif %}
    </tbody>
  </table>

{% endblock %}